body{
    text-align: center;
    background: rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,1) 39%, rgba(2,0,36,1) 86%);
    color : white;
}

img {
  border-radius: 8px;
  margin: 10px;
}

h3 {
  color : white;
  font-family: serif;
  font-size: 30px;
}

a{
    margin:10px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 30px;
  text-align: center;
  border-left: 2px solid white;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

form input{
   color:black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



