<html>
<head>
    <title>login</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Important words">
        <meta name="description" content="short description">
        <meta name="author" content="Aishwarya">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/Homepage.css">
        <link rel="icon" href="/static/Home-images/logo image.jpg">
</head>
<body>
    <br><br>
    <p>{{msg}}</p>
    <div class="row">
        <div class="column" >
            <h3>Login with password</h3>
            <br><br>
            <form method = 'POST' action = '/check'>
                <input type = 'text' name = 'username' placeholder="Username" required>
                <br><br>
                <input type = 'password' name = 'password' placeholder="password" required>
                <br><br>
                <input class="btn btn-info" type = "submit" value = "Submit">
            </form>
        </div>

        <div class="column" >
            <h3>Face Login</h3>
            <a class="btn btn-info" href="/face">Login with face</a>
            <br><br>
            {% if status %}
                <p class=status> {{ status }}</p>
            {% endif %}
        </div>
    </div>

    <section id="login-section">
    </section>

</body>
</html>