<html>
    <head>
    <title>Register</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Important words">
        <meta name="description" content="short description">
        <meta name="author" content="Aishwarya">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/Homepage.css">
        <link rel="icon" href="/static/Home-images/logo image.jpg">
    </head>
<body>
<h3>Registration Form</h3><br><br>
    <form method = "post" action='/add'>
        <input type = 'text' name = 'name' placeholder="Name" required><br><br>
        <input type = 'text' name = 'username' placeholder="Username" required><br><br>
        <input type = 'number' name = 'height' placeholder="Height in cm" required><br><br>
        <input type = 'password' name = 'password' placeholder="Password" required><br><br>
        <input class="btn btn-info" type = "submit" value = "Submit">
    </form>
    <p>{{msg}}</p>
</body>
</html>